<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add photo</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 is-invalid" type="search" id="validationServer03" name="j" placeholder="j" aria-label="j">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <div class="invalid-feedback">
                Please provide a valid Stock.
            </div>
        </form>
    </div>
  </nav>


    {% for i in N%}
    {{i.num}}
    {{i.pos}}
    {% endfor%}
    
</body>
</html>