
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        .image-thumbail {
            height: 200px;
            object-fit: cover;
        }

        .list-group-item a {
            text-decoration: none;
            color: black;
        }
    </style>

</head>
<body class="m-4">
    <div class='container'>
        <div class="row ">
            <div class="col-auto">
            <h3>Filter Photos</h3>
            <form method="GET" action=".">
                
            
                <div class="form-group">
                    <label for="stock_symbol">stock_symbol</label>
                    <input type="text" id="stock_symbol" name="stock_symbol">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="DOT">Date of trade</label>
                    <input type="date" id="DOT" name="DOT">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

                
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="outcome">Outcome</label>
                    <select class="custom-select mr-sm-2" type="search" name="outcome" id="outcome">
                        <option selected>Choose</option>
                        {% for out in to %}
                        <option value="{{ out }}">{{ out }}</option>
                        {% endfor %}
                        <input type="submit" value="Submit">
                    </select>
                  </div>
                
                

                {% for photo in filter_photos %}
                
                <div class="col-md-4">
                    <div class="card my-2">
                        <img class="image-thumbail" src="{{photo.photo_response}}" alt="Card image cap">

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Comment: {{photo.photo_comment}}</li>
                            <li class="list-group-item">Photo upload date: {{photo.photo_date}}</li>
                            <li class="list-group-item">Stock: {{photo.trade.stock}}</li>
                            
                            
                        </ul>
                        <div class="card-body">
                            <li class="list-group-item">
                                <a href="#" class="card-link">Card link</a>
                                <a href="#" class="card-link">Another link</a>
                            </li>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h3>No photos</h3>
                {% endfor %}

                


                <a href="{% url 'new_trade' %}" class="btn btn-dark btn-block btn-sm m-1">Add Trade and Photo</a>        
        </div>
    </div>
</body>
</html>