<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="PhotoFrom" multiple>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload Photo</button>
  </form>
</body>
</html> -->
<form method="post" enctype="multipart/form-data">
    <input type="file" name="PhotoFrom" multiple>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Upload Photo</button>
    </form>